<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name="SCApplication"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".views.SearchActivity"
                  android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".views.TaggingScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".views.PhotoGalleryActivity">
        </activity>
        <activity android:name=".views.CameraActivity">
      		<intent-filter>
        		<action android:name="android.media.action.IMAGE_CAPTURE"/>
        		<category android:name="android.intent.category.DEFAULT"/>
      		</intent-filter>
      		<intent-filter>
        		<action android:name="android.media.action.STILL_IMAGE_CAPTURE"/>
        		<category android:name="android.intent.category.DEFAULT"/>
      		</intent-filter>
        </activity>
        <activity android:name=".views.CompareActivity"></activity>
        <activity android:name=".views.TagGalleryActivity">

            <meta-data android:name="android.app.default_searchable"
                   android:value=".views.SearchActivity" />
        </activity>
        <activity android:name=".views.ViewPhotoActivity"></activity>
        <activity android:name=".prefs.MainPreferenceActivity">
            <intent-filter>
                <action android:name="ca.ualberta.intent.action.MainPreferenceActivity" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name=".views.PasswordActivity"></activity>
        <activity android:name=".views.CompareSelectionActivity"></activity>
        <activity android:name=".views.ArchiveSelectionActivity"></activity>
        <activity android:name=".views.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.HelpActivity"></activity>
    </application>

</manifest>